{{#post}}

{{!-- Everything inside the #post tags pulls data from the page --}}
<main id="main">
    <header class="tag-header">
        <h1><a href="{{url}}">{{title}}</a></h1>
        <p class="content">{{content}}</p>
        {{#if feature_image}}
        <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
        {{/if}}
    </header>
    <section class="posts">
      {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
        {{#foreach tags}}
            {{#contains @root.post.tags this 'name'}}
              <article>
                <header>
                    <h2><a href="{{url}}">{{name}}</a></h2>
                </header>
                {{#if feature_image}}
                  <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{name}}" /></a>
                {{/if}}
                <p class="category-description">{{description}}</p>
                <ul class="actions special">
                    <li><a href="{{url}}" class="button">Show {{plural this.count.posts empty='No posts' singular='% post' plural='% posts'}}</a></li>
                </ul>
              </article>
            {{/contains}}
        {{/foreach}}
      {{/get}}
    </section>
  
</main>

{{/post}}